################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PatternsGoF/obj/Debug
/PatternConsole/obj/Debug
/.vs/PatternsGoF/v15/Server/sqlite3
/.vs/PatternsGoF/v15/.suo
